.grid {
    width: 100%;
    padding: 0;
    display: block;
}

.grid.wide {
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -4px;
    margin-right: -4px;
}

.row.no-gutters {
    margin-left: 0;
    margin-right: 0;
}


.col {
    padding-left: 4px;
    padding-right: 4px;
}

.row.no-gutters .col{
    padding-left: 0;
    padding-right: 0;
}

.m-0 {
    display: none;
}

.m-1 {
    flex: 0 0 calc(100%/12);
    max-width: calc(100%/12);
}

.m-2 {
    flex: 0 0 calc(100%/6);
    max-width: calc(100%/6);
}

.m-3{
    flex: 0 0 calc(100%/4);
    max-width: calc(100%/4);
}

.m-4 {
    flex: 0 0 calc(100%/3);
    max-width: calc(100%/3);
}

.m-5{
    flex: 0 0 calc(100%/12*5);
    max-width: calc(100%/12*5);
}

.m-6 {
    flex: 0 0 calc(100%/2);
    max-width: calc(100%/2);
}

.m-7{
    flex: 0 0 calc(100%/12*7);
    max-width: calc(100%/12*7);
}

.m-8 {
    flex: 0 0 calc(100%/12*8);
    max-width: calc(100%/12*8);
}

.m-9 {
    flex: 0 0 calc(100%/12*9);
    max-width: calc(100%/12*9);
}

.m-10 {
    flex: 0 0 calc(100%/12*10);
    max-width: calc(100%/12*10);
}

.m-11 {
    flex: 0 0 calc(100%/12*11);
    max-width: calc(100%/12*11);
}

.m-12 {
    flex: 0 0 calc(100%);
    max-width: calc(100%);
}

.m-o-1 {
    margin-left: calc(100%/12);
}

.m-o-2 {
    margin-left: calc(100%/6);
}

.m-o-3{
    margin-left: calc(100%/4);
}

.m-o-4 {
    margin-left: calc(100%/3);
}

.m-o-5{
    margin-left: calc(100%/12*5);
}

.m-o-6 {
    margin-left: calc(100%/2);
}

.m-o-7{
    margin-left: calc(100%/12*7);
}

.m-o-8 {
    margin-left: calc(100%/12*8);
}

.m-o-9 {
    margin-left: calc(100%/12*9);
}

.m-o-10 {
    margin-left: calc(100%/12*10);
}

.m-o-11 {
    margin-left: calc(100%/12*11);
}
/* Mobile */
@media (max-width : 739px) {
    .row.m-no-gutters {
        margin-left: 0;
        margin-right: 0;
    }
}
/* Tablet */

@media (min-width : 740px) and (max-width: 1023px) {
    .hidden-on-tablet {
        display: none;
    }
    .wide {
        width: 644px;
    }
    .row {
        margin-left: -8px;
        margin-right: -8px;
    }

    .col {
        padding-left: 8px;
        padding-right: 8px;
    }

    .t-0 {
        display: none;
    }

    .t-1,
    .t-2,
    .t-3,
    .t-4,
    .t-5,
    .t-6,
    .t-7,
    .t-8,
    .t-9,
    .t-10,
    .t-11,
    .t-12 {
        display: block;
    }
    
    .t-1 {
        flex: 0 0 calc(100%/12);
        max-width: calc(100%/12);
    }
    
    .t-2 {
        flex: 0 0 calc(100%/6);
        max-width: calc(100%/6);
    }
    
    .t-3{
        flex: 0 0 calc(100%/4);
        max-width: calc(100%/4);
    }
    
    .t-4 {
        flex: 0 0 calc(100%/3);
        max-width: calc(100%/3);
    }
    
    .t-5{
        flex: 0 0 calc(100%/12*5);
        max-width: calc(100%/12*5);
    }
    
    .t-6 {
        flex: 0 0 calc(100%/2);
        max-width: calc(100%/2);
    }
    
    .t-7{
        flex: 0 0 calc(100%/12*7);
        max-width: calc(100%/12*7);
    }
    
    .t-8 {
        flex: 0 0 calc(100%/12*8);
        max-width: calc(100%/12*8);
    }
    
    .t-9 {
        flex: 0 0 calc(100%/12*9);
        max-width: calc(100%/12*9);
    }
    
    .t-10 {
        flex: 0 0 calc(100%/12*10);
        max-width: calc(100%/12*10);
    }
    
    .t-11 {
        flex: 0 0 calc(100%/12*11);
        max-width: calc(100%/12*11);
    }
    
    .t-12 {
        flex: 0 0 calc(100%);
        max-width: calc(100%);
    }

    .t-o-1 {
        margin-left: calc(100%/12);
    }
    
    .t-o-2 {
        margin-left: calc(100%/6);
    }
    
    .t-o-3{
        margin-left: calc(100%/4);
    }
    
    .t-o-4 {
        margin-left: calc(100%/3);
    }
    
    .t-o-5{
        margin-left: calc(100%/12*5);
    }
    
    .t-o-6 {
        margin-left: calc(100%/2);
    }
    
    .t-o-7{
        margin-left: calc(100%/12*7);
    }
    
    .t-o-8 {
        margin-left: calc(100%/12*8);
    }
    
    .t-o-9 {
        margin-left: calc(100%/12*9);
    }
    
    .t-o-10 {
        margin-left: calc(100%/12*10);
    }
    
    .t-o-11 {
        margin-left: calc(100%/12*11);
    }
}

/*  PC low resolution */
@media (min-width : 1024px) and  (max-width: 1239px){
    .wide {
        width: 984px;
    }

    .wide .row {
        margin-left: -12px;
        margin-right: -12px;
    }

    .wide .row.sm-gutter {
        margin-left: -5px;
        margin-right: -5px;;
    }

    .wide .row.sm-gutter .col {
        padding-left: 5px;
        padding-right: 5px;
    }

    .wide .row.sm-gutter .col {
        padding-left: 5px;
        padding-right: 5px;
    }

    .wide .col {
        padding-left: 12px;
        padding-right: 12px;
    }
    .wide .l-1,
    .wide .l-2,
    .wide .l-2-4,
    .wide .l-3,
    .wide .l-4,
    .wide .l-5,
    .wide .l-6,
    .wide .l-7,
    .wide .l-8,
    .wide .l-9,
    .wide .l-10,
    .wide .l-11,
    .wide .l-12 {
        display: block;
    }

    .wide .l-0 {
        display: none;
    }
    
    .wide .l-1 {
        flex: 0 0 calc(100%/12);
        max-width: calc(100%/12);
    }
    
    .wide .l-2 {
        flex: 0 0 calc(100%/6);
        max-width: calc(100%/6);
    }
    
    .wide .l-2-4 {
        flex: 0 0 calc(100%/5);
        max-width: calc(100%/5);
    }

    .wide .l-3{
        flex: 0 0 calc(100%/4);
        max-width: calc(100%/4);
    }
    
    .wide .l-4 {
        flex: 0 0 calc(100%/3);
        max-width: calc(100%/3);
    }
    
    .wide .l-5{
        flex: 0 0 calc(100%/12*5);
        max-width: calc(100%/12*5);
    }
    
    .wide .l-6 {
        flex: 0 0 calc(100%/2);
        max-width: calc(100%/2);
    }
    
    .wide .l-7{
        flex: 0 0 calc(100%/12*7);
        max-width: calc(100%/12*7);
    }
    
    .wide .l-8 {
        flex: 0 0 calc(100%/12*8);
        max-width: calc(100%/12*8);
    }
    
    .wide .l-9 {
        flex: 0 0 calc(100%/12*9);
        max-width: calc(100%/12*9);
    }
    
    .wide .l-10 {
        flex: 0 0 calc(100%/12*10);
        max-width: calc(100%/12*10);
    }
    
    .wide .l-11 {
        flex: 0 0 calc(100%/12*11);
        max-width: calc(100%/12*11);
    }
    
    .wide .l-12 {
        flex: 0 0 calc(100%);
        max-width: calc(100%);
    }

    .wide .l-o-1 {
        margin-left: calc(100%/12);
    }
    
    .wide .l-o-2 {
        margin-left: calc(100%/6);
    }
    
    .wide .l-o-3{
        margin-left: calc(100%/4);
    }
    
    .wide .l-o-4 {
        margin-left: calc(100%/3);
    }
    
    .wide .l-o-5{
        margin-left: calc(100%/12*5);
    }
    
    .wide .l-o-6 {
        margin-left: calc(100%/2);
    }
    
    .wide .l-o-7{
        margin-left: calc(100%/12*7);
    }
    
    .wide .l-o-8 {
        margin-left: calc(100%/12*8);
    }
    
    .wide .l-o-9 {
        margin-left: calc(100%/12*9);
    }
    
    .wide .l-o-10 {
        margin-left: calc(100%/12*10);
    }
    
    .wide .l-o-11 {
        margin-left: calc(100%/12*11);
    }
}


/* PC medium resolution > */
@media (min-width: 1113px) {
    .row {
        margin-left: -12px;
        margin-right: -12px;
    }
    .row.sm-gutter {
        margin-left: -5px;
        margin-right: -5px;
    }
    .col {
        padding-left: 12px;
        padding-right: 12px;
    }
    .row.sm-gutter .col {
        padding-left: 5px;
        padding-right: 5px;
    }
    .l-0 {
        display: none;
    }
    .l-1,
    .l-2,
    .l-2-4,
    .l-3,
    .l-4,
    .l-5,
    .l-6,
    .l-7,
    .l-8,
    .l-9,
    .l-10,
    .l-11,
    .l-12 {
        display: block;
    }
    .l-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }
    .l-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
    .l-2-4 {
        flex: 0 0 20%;
        max-width: 20%;
    }
    .l-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .l-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    .l-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }
    .l-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .l-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
    .l-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
    .l-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    .l-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
    .l-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }
    .l-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .l-o-1 {
        margin-left: 8.33333%;
    }
      
    .l-o-2 {
        margin-left: 16.66667%;
    }
      
    .l-o-3 {
        margin-left: 25%;
    }
      
    .l-o-4 {
        margin-left: 33.33333%;
    }
      
    .l-o-5 {
        margin-left: 41.66667%;
    }
      
    .l-o-6 {
        margin-left: 50%;
    }
      
    .l-o-7 {
        margin-left: 58.33333%;
    }
      
    .l-o-8 {
        margin-left: 66.66667%;
    }
      
    .l-o-9 {
        margin-left: 75%;
    }
      
    .l-o-10 {
        margin-left: 83.33333%;
    }
      
    .l-o-11 {
        margin-left: 91.66667%;
    }
}