@import "base.css";
@import "components/header.css";
/* CSS Slide Header */


  /* CSS MainProduct */
 
.main__productDes_box {
    padding-top: 50%;
    position: relative;
    margin-top: 1.5rem;
}
.main__productDes_box1 {
    background: rgb(153,174,212);
    background: linear-gradient(90deg, rgba(153,174,212,1) 0%, rgba(75,119,206,1) 100%);
}
.main__productDes_box2 {
    background: rgb(208,153,212);
    background: linear-gradient(90deg, rgba(208,153,212,1) 0%, rgba(142,64,165,1) 100%);
}

.main__productDes_bgBox {
    background-color: #D2C3C3;
    position: absolute;
}
.main__productDes_bgBox-1{
    width: 40%;
    padding-top: 15%;
    top: 0;
    left: 0;
    border-radius: 0px 10px 40px 50px;
}
.main__productDes_bgBox-2{
    width: 50%;
    padding-top: 15%;
    bottom: 0;
    right: 0;
    border-radius :227px 58px 0px 4px;
}


.main__productDes_logoBox {
    width: 40%;
    top : 0;
    left: 0;
    position : absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.main__productDes_logo {
    width: 100%;
    padding-top: 37%;
    background-image: url(/assets/images/smartmotor-label.png);
    background-size: cover;
}
.main__productDes_label {
    color: var(--text-title-color);
    font-weight: bold;
    font-style: italic;
}
.main__productDes_viettelBox {
    width: 31%;
    padding-top: 5%;
    background-image: url(/assets/images/VTS\ text.png);
    background-size: cover;
    position: absolute;
    bottom: 5px;
    right: 0;
}
.main__ProductDes_Background {
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 49%;
    width: 54%;
    background-image: url(/assets/images/smartmotor-fixed.png);
    background-size: cover;
}
.main__Product_btn {
    background-color: white;
    position: absolute;
    left: 4%;
    top: 60%;
}
.main__product_btnLink {
    text-decoration : none;
    color: var(--text-title-color);
    padding: 1rem;
    background-color: white;
    transition: all .1s;
}
.main__product_btnLink:hover {
    background-color: var(--primate-color);
    color: white;
}
.main__product_btnLink:active {
    color: var(--text-title-color);
}
.main__productDes_bgBox-3 {
    width: 50%;
    padding-top: 15%;
    bottom: 0;
    right: 0;
    background-color: #94F1A7;
    border-radius: 33px 96px 0px 116px;
}
.main__ProductDes_Background-1 {
    background-image: url(/assets/images/vtracking.PNG);
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 49%;
    width: 66%;
    background-size: cover;
}
.main__productDes_logo-1 {
    width: 100%;
    padding-top: 26%;
    background-image: url(/assets/images/logo-vtracking.png);
    background-size: cover;
}
.main__productDes_label-1 {
    color: var(--white-color);
}
.main__titleBox {
    margin-top: 1.5rem;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 2rem;
}

.main___iconBox {
    text-align: center;
}
.main__icon {
    background-image: url(/assets/images/bg_title.png);
    background-size: cover;
    width: 100%;
    padding-top: 2rem;
}
.main__icon-2 {
    margin-left: auto;
}
.main__title {
    color : var(--primate-color);
    text-align: center;
}

.main__product {
    text-align: center;
    margin-top: 3rem;
    display: block;
    position: relative;
    text-decoration: none;
}
.main__product_avatar {
    padding-top: 100%;
    background-size: cover;
    background-position: center;
}
.main__product_avatar-1 {
    background-image: url(/assets/images/W1.png);
}

.main__product_avatar-2 {
    background-image: url(/assets/images/VTR05.png);
}

.main__product_productName {
    margin: 0;
    line-height: 1.6rem;
    font-size: 1.3rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.main__product_productLabel {
    animation: productLabelAnimation 1s infinite;
    font-weight: bold;
    font-size: 1.2rem;
}
@keyframes productLabelAnimation {
    from {
        color: var(--text-title-color);
    }
    50% {
        color: red;
    }
    to {
        color: var(--primate-color);
    }
}
.main__product_salePrice {
    color: var(--primate-color);
    font-size: 1.2rem;
    font-weight: bold;
}
.main__product_price {
    text-decoration: line-through;
    color: var(--text-title-color);
    font-size: 1.2rem;
    font-weight: bold;
}

.main__product_category {
    color: var(--white-color);
    padding : .5rem 1rem;
}

.main__product_category-1 {
    background-color: var(--primate-color);
}
.main__product_category-2 {
    background-color: var(--text-title-color);
}
.sale__icon {
    position: absolute;
    top : 0;
    animation: infinite .5s saleIconAnimation;
}

@keyframes saleIconAnimation {
    from {
        fill: var(--text-title-fill);
    }
    50% {
        fill: red;
    }
    to {
        fill: var(--primate-color);
    }
}


/* CSS OtherProducts */

.main__otherProduct {
    margin-top: 1.5rem;
    color : var(--text-color);
}
.main__otherProduct_avatar {
    padding-top: 50%;
    background-image: url(/assets/images/otherproduct1.jpg);
    background-size: cover;
    background-position: center;
}
.main__otherProduct_name {
    text-align: center;
    margin : .5rem;
}
.main__otherProduct_content {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.seeMore {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    color: var(--text-title-color);
    font-size: 1.4rem;
    transition: all .5s;
}
.seeMore:hover {
    color: var(--primate-color);
}

.btnAllProducsts {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    color: var(--white-color);
    background-color: var(--primate-color);
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5rem;
}

.main__accessory {
    text-decoration: none;
    margin-top: 1.5rem;
    text-align: center;
    color: var(--text-color);
}
.main__accessory:active {
    color: var(--text-color);
}
.main__accessory_avatar {
    width: 80%;
    padding-top: 80%;
    background-size: cover;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
}
.main__accessory_avatar-1 {
    background-image: url(/assets/images/anten_gps_v1_large.png);
}
.main__accessory_avatar-2 {
    background-image: url(/assets/images/gsm.png);
}
.main__accessory_price {
    color: var(--text-title-color);
}

.main__new {
    margin-top: 1.5rem;
}
.main__new_avatar {
    padding-top: 50%;
    background-image: url(/assets/images/news1.jpg);
    background-size: cover;
    background-position: center;
}
.main__new_date {
    background-color: var(--primate-color);
    margin-top: 1.5rem;
    color: var(--white-color);
    text-align: center;
    font-weight: bold;
    width: 100%;
    padding-top: 100%;
    position: relative;
}
.main__new_dateBox {
    position: absolute;
    bottom : 0;
    top : 0;
    right : 0;
    left : 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.main__new_day {
    font-size: 3rem;
}
.main__new_month {
    font-size: 1.4rem;
}
.main__new_name {
    margin-top: 1rem;
    text-align: left;
    display: -webkit-box !important;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    color: var(--text-color);
    font-size: 2rem;
    text-decoration: none;
    transition: all .5s;
}
.main__new_name:hover {
    color : var(--primate-color)
}
.main__new_content {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    font-size: 1.4rem;
    color: var(--text-content-color);
}

/* CSS footer */
.footer {
    background-color: #373737;
}
.footer_logo {
    height: 5rem;
    width: 6.5rem;
    background-image: url(/assets/images/logo.png);
    background-size: cover;
    margin : 2rem auto;
}

.footer__title {
    color: var(--white-color);
}
.footer__list {
    color: var(--white-color);
}
.footer__item {
    color : var(--white-color);
    list-style: none;
}
.footer__item > a {
    color : var(--white-color);
    text-decoration: none;
}
.footer__social {
    font-size: 3rem;
    margin-top: 1rem;
}

.footer__contact {
    /* text-align: center; */
    font-size: 1.5;
}
