@import "base.css";
@import "components/header.css";
@import "components/buttons.css";
@import "components/footer.css";
@import "components/textbox.css";

/* CSS product cover */
.product__cover {
    background-image: url(/assets/images/vtracking\ cover.PNG);
    background-size: cover;
    padding-top: 60%;
}
.product__cover1 {
    background-image: url(/assets/images/smartmotor.png);
    background-size: cover;
    background-position: center;
    padding-top: 60%;
}
.product__introduce {

}
.product__title {
    font-size: 3.5rem;
    font-weight: 500;
    line-height: 3.5rem;
}
.product__introduce_paragraph {
    font-size: 1.5rem;
}
.product__hotline {
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0 1.5rem;
    font-size: 1.5rem;
    font-weight: 500;
}

.product__hotline_phone {
    color: var(--primate-color);
}

.product__header_btn {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.product__header_btn:active + .product__phone_customer {
    opacity: 1;
    width: 30rem;
    max-width: 100%;
}

.product__phone_customer {
    width: 0;
    opacity: 0;
    pointer-events: none;
    transition: all .2s;
    display: block;
}
/* CSS content */
.product_tab {
    display: flex;
    margin-left: 4px;
}
.product__tabItem {
    padding: .5rem 1rem;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 0;
    cursor: pointer;
}
.product__tabItem_active {
    border-top: 1px solid var(--text-title-color);
    background-color: #F3F7F8;
}



.product__container {
    /* background-color: #F3F7F8; */
    display: none
}
.product__container-active {
    display: block
}
.product__content_mainTitle,
.product__price_title {
    padding-top: 3rem;
    text-align: center;
    font-size: 3rem;
    font-weight: normal;
    background-color: var(--white-color);
}
.product__contentBox {

}
.product__content {
    background-color: #F3F7F8;
    height: 100%;
}
.product__content_title > i {
    font-size: 4rem;
}
.product__content_title > * {
    margin-bottom: 1.5rem;
}
.product__content_title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: var(--text-title-color);
    /* margin-top: 4rem; */
}
.product__content_row {
    padding: 0 3rem;
    font-size: 1.4rem;
    color: var(--text-color);
    margin-top: 1.5rem;
}

/* CSS product price */

.product__price_tabs {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid var(--text-title-color);
}
.product__price_tab {
    margin-top: 1.5rem;
    font-size: 1.4rem;
    cursor: pointer;
    transition: all .1s;
}
.product__price_contentBox {
    display: none;
}
.product__price_contentBox-active {
    display: flex;
}
.product__price_content_title {
    color: var(--text-title-color);
    text-align: center;
    font-size: 1.5rem;
    margin-top: 1.5rem;
}
.product__price_content {
    margin-top: 1.5rem;
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 0 0px 15px 15px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-bottom: none;
    background-color: #F3F7F8;
}
.product__price_content_row {
    padding: 0 2rem;
    font-size: 1.5rem;
    color : var(--text-color);
}
.product__price_content_rowChild {
    padding: 0 2rem;
}

.product__price_tab-active {
    color: var(--text-title-color);
    font-weight: bold;
}

.btnProductRegister { 
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    border-radius: 0 0px 12px 12px;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.btnProductRegister:hover {
    color: var(--text-title-color);
}

